<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azatgt.unityadsgodotandroid">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.UnityAdsGodotAndroid"
            android:value="com.azatgt.unityadsgodotandroid.UnityAdsGodotAndroid" />
    </application>
</manifest>